@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700');

body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Raleway, sans-serif;
}

.header__title {
  padding-left: 5px;
  justify-content: left;
  align-items: center;
  text-transform: uppercase;
  font-size: 4rem;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.login {
  padding-left: 20px;
  color: #f1c57d;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  font-size: 10px;
}

/*nav bar -------------------- */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6e8898;
  font-family: 'Source sans pro', sans-serif;
  text-align: left;
}
li {
  display: inline-block;
  font-size: 20px;
}
li a {
  display: block;
  color: 000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: inherit;
  text-decoration: inherit;
}
li a:hover {
  background-color: #cdcece;
}
/* ---------------------------- */
article {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9fb1bc;
}
/*articles list -------------------- */

ul.articles,
ul.articlesByTopic {
  flex-wrap: wrap;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9fb1bc;
  font-family: 'Source sans pro', sans-serif;
  text-align: center;
}
li.articles {
  flex: 1 0 30%;
  font-size: 20px;
}
h3.articles {
  vertical-align: text-top;
  padding-bottom: 5px;
  margin: 0;
}
/* ---------------------------- */
ul.topics {
  flex-wrap: wrap;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #588188;
  font-family: 'Source sans pro', sans-serif;
  text-align: center;
}

/*article in article list  -------------------- */
p.details {
  font-size: 16px;
  text-align: left;
  vertical-align: text-bottom;
  padding-bottom: 1px;
  display: flex;
  align-items: flex-end;
  height: 30px;
}
/* ---------------------------- */

/*article in single article  -------------------- */
p.singleArticle {
  font-size: 16px;
  margin: 10px;
  margin-bottom: 20px;
}
/* ---------------------------- */

h1 {
  font-size: 60px;
  margin: 10px;
}
h2 {
  font-size: 40px;
  margin: 10px;
}
*/



/*------comments list ------*/
.comments-container {
  margin: 10px;
  width: 768px;
}

.comments-container h1 {
  font-size: 32px;
  color: #283035;
  font-weight: 400;
}

.comments-list {
  margin-top: 30px;
  position: relative;
}
.comment-content {
  font-size: 15px;
  color: #000;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.button1 {
  display: flex;
  font-size: 12px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  color: #000;
  background-color: #e2c044;
  text-align: center;
}
.button2 {
  background-image: url('../images/thumbup.png');
  background-size: contain;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 0px 10px;
  border-radius: 5px;
  color: #000;
  background-color: #e2c044;
  width: 40px;
  height: 40px;
}
.button3 {
  background-image: url('../images/thumbd.png');
  background-size: contain;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 0px 10px;
  border-radius: 5px;
  color: #000;
  background-color: #e2c044;
  width: 40px;
  height: 40px;
}

@media all and (max-width: 750px) {
  .button1 {
    display: block;
    margin: 0.2em auto;
  }
  .header__title {
    font-size: 2rem;
  }
  h1 {
    font-size: 50px;
  }
  h2.topics {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
  }
  p.details {
    font-size: 14px;
  }
}

input[type='text'],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* ------ select drop down */

select:hover {
  border-color: #888;
}
select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
select {
  display: inline-block;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 0.8;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 10%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 5px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
